.all{
    display: flex;
    width: 330px;
    height: 140px;
    justify-content: center;
    background-color: transparent;
    gap: 12px;
    border-radius: 13px;
    transition: 0.4s;
}

.img{
    width: 230px;
    height: 140px;
    background-size: 100%;
}

.container{
    text-align: right;
}

.all:hover{
    transform: scale(1.059);
    box-shadow: 2px 12px 15px 3px rgba(24, 4, 4, 0.479)
}