.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pagination{
    list-style: none;
    display: flex;
}

.pagination li{
    padding: 10px;
    cursor: pointer;
}

.active {
    background-color: rgb(198, 236, 204);
    color: rgb(8, 59, 25);
    border-radius: 20px;
}

.pagination li button {
    background-color: transparent;
    border: none;
    color:rgb(8, 59, 25);
    font-size: 1,5rem;
    cursor: pointer;
    border-radius: 20px;
}

.pagination li button:hover{
    background-color: rgb(8, 59, 25);
    color: white
}

.pagination li button:focus{
    outline: none;
}

.pagination button{
    background-color: transparent;
    border: none;
    color:rgb(8, 59, 25);
    font-size: 1,5rem;
    cursor: pointer;
    border-radius: 20px;
}